<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion y Asesores M&M</title>
    <link rel="stylesheet" href="../styles/main.css">
</head>
<body>
    <header>
        <div class="logo">
            <h1>Gestion y Asesores M&M</h1>
        </div>
        <nav>
            <ul>
                <li><a href="../pages/home.html">Inicio</a></li>
                <li><a href="../pages/about.html">Sobre Nosotros</a></li>
                <li><a href="../pages/services.html">Servicios</a></li>
                <li><a href="../pages/contact.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>